@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --primary-color: rgb(0, 111, 126);

}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 0.5em;
}

.calculator {
  width: 560px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background: #c7c7c7;
}